/vendor
/node_modules
Homestead.yaml
Homestead.json
.env-*
.env_*
.env
composer.lock
revisions.php
/.idea
/public/js/dynamic/*.js
/public/css/dynamic/*.css
/public/build
/public/ph
/chat/node_modules
/chat/.config.js
.gitmodules
/laradock
public/pwasw.js*
.DS_Store
